/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  color-scheme: light dark;

  --guess: #687fa8;
  --guess-brighter: #99a8c2;
  --guess-brightest: #c2d1e0;
  --guess-darkest: #3b4d6f;
  --solution: #2153e8;
  --solution-brighter: #5090f0;
  --super-solution: #dd00f5;
  --super-solution-brighter: #d481f8;
  --warn: #ee2323;
  --warn-brighter: #f55f5f;
  --info: #2e8b57;
  --info-brighter: #4dbf8f;
  --highlight-hint: rgba(212, 129, 248, 0.2);

  --dark-bg: #11111b;
  --light-bg: #f6f8fa;

  --light-text: #f6f8fa;
  --dark-text: #11111b;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--dark-text), var(--light-text));
  font-family: "Poppins", sans-serif;
}

button,
a {
  border: none;
  cursor: pointer;
  outline: none;
  font-family: "Poppins", sans-serif;
  padding: 5px;
}

button:disabled {
  cursor: not-allowed;
}

.info-button {
  padding: 0;
  border-radius: 100%;
  border: 2px solid light-dark(var(--guess), var(--guess-brighter));
  background: none;
  color: light-dark(var(--guess), var(--guess-brighter));
  font-weight: bold;
  font-size: 15px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background 0.3s ease;
}

.info-button:hover {
  background: #c2d1e055;
}

.info-button:disabled {
  border: 2px solid light-dark(var(--guess-brightest), var(--guess-darkest));
  color: light-dark(var(--guess-brightest), var(--guess-darkest));
}
